
<div class="containger p-5"> 
     <div class="row border-bottom border-secondary">
      <h3 style="font-family: 'Macondo', cursive;color:blue">Videos</h3>
    </div>
    <input type="hidden" value="{{id}}" id="courseid">
    <div class="row bg-light p-1 m-5" id="main_video">
      <input type="hidden" id="sequencenumber">
      <video controls style="" id="mvideo">
      <source src="" id="source"> </source>
    </div>
    <div class="row bg-light p-1 m-5" id="videos">
      
    </div>
</div>

<link rel="stylesheet" href="/public/css/assignmentform.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/playvideos.js"></script>
{{!-- <script src="/public/css/playvideos.css"></script> --}}